.form {
	display: flex;
	flex-direction: column;
	font-family: var(--font-style-2);
	font-size: 0.8em;
	width: 300px;
	margin-bottom: 50px;
	border: 1px solid red;
}

.formInput {
	font-family: var(--font-style-2);
	height: 24px;
	border-radius: 6px;
	border: 1px solid black;
	padding: 0 8px;
	margin: 0.2em 0 1em 0;
	background: var(--color-five);
	color: var(--text-primary);
}

.formInput::placeholder {
	color: var(--color-six);
}

.formTextarea {
	height: 90px;
	border-radius: 6px;
	border: 1px solid black;
	padding: 8px;
	margin: 0.2em 0 0.5em 0;
}

.formSubmitButton {
	font-family: var(--font-style-1);
	font-size: calc(0.8vw + 0.8em);
	font-weight: bolder;
	padding: 4px;
	border-radius: 45px;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: var(--color-three);
	color: var(--text-primary);
}

.formSubmitButton:hover {
	font-size: calc(.85vw + 0.8em);
	cursor: pointer;
	background-color: var(--color-three-hover);
}

.label {
    font-size: 1.1em;
	color: var(--text-primary);
    margin: 1em 0 .3em 0;
}