.windowModal {
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 4; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: gray; /* Fallback color*/
	/* background-color: var(--black-opa); Black w/ opacity */
}

.window {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: white;
	margin: 150px auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid var(--background);
	width: 40%; /* Could be more or less, depending on screen size */
	border-radius: 12px;
}

.windowTitle {
	padding: 0 0 1em 0;
	/* font-family: var(--font-style-1); */
}

/* The Close Button */
.close {
	color: var(--text-primary);
	float: right;
	font-size: 28px;
	font-weight: bold;
	align-self: end;
}

.close:hover,
.close:focus {
	color: var(--text-tertiary);
	text-decoration: none;
	cursor: pointer;
}