html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--background);
}

:root {
	--background: #f6fbf2;
	--navbar: #4e505d;
	--darktext: #4e505d;
	--button: #2dc9be;
	--card: #ffedcb;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
