.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {

  .container {
    width: 100%;
  }
  
  .main {
    /* 8 rows 5cols */
    grid-template: 25px 25px 200px 50px 150px 30px 80px 1fr / 100px 100px 240px 100px 100px;
    grid-template-areas: 
      ' . . logo  log . '
      ' . . logo  sign . '
      ' . . logo . . '
      ' . title title title . '
      ' . article article article . '
      ' . read read . . '
      ' . . des . . '
      ' . video video video . ';

    width: 100%;
    flex-direction: column;
    /* border: 1px solid red; */

  }

  .log {
    grid-area: log;
  }
  .sign {
    grid-area: sign;
  }
  .logo {
    grid-area: logo;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid red;
    text-align: center;
    margin: 0 auto;
  }
  .title {
    grid-area: title;
    text-align: center;
    margin: 1em 0 1em 0;
  }
  .article{
    grid-area: article;
  }
  .read{
    grid-area: read;
    width: 30%;
  }
  .useDescription{
    padding: 1em 0 1em 0;
    grid-area: des;
    text-align: center;
  }
  .video{
    grid-area: video;
  }

}
