.container {
	font-family: "Montserrat", sans-serif;
}

.main {
	height: 100vh;
	padding: 2rem;
	display: grid;
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
	/* width: 100vw; */
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"midle"
		"botom";
	border: 1px solid red;
}
.log {
	grid-area: log;
	border: 1px solid red;
}
.sign {
	grid-area: sign;
	text-align: right;
	/* font-size: .7em; */
	border: 1px solid red;
}
.logo {
	grid-area: logo;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid red;
	text-align: center;
	margin: 0 auto;
}
.title {
	/* grid-area: title; */
	text-align: center;
	margin: 1em 0 1em 0;
	padding: 0;
	border: 1px solid red;
}
.arttitle {
	grid-area: arttitle;
	text-align: center;
	/* padding-top: 1em; */
	border: 1px solid red;
}
.article {
	grid-area: article;
	border: 1px solid red;
}
.read {
	grid-area: read;
	cursor: pointer;
	width: 30%;
	border: 1px solid red;
}
.useDescription {
	/* padding: 1em 0 1em 0; */
	grid-area: des;
	text-align: center;
	border: 1px solid red;
}
.video {
	grid-area: video;
	border: 1px solid red;
	margin: 0 10%;
	width: 80%;
	height: 80%;
}

/* LANDING PAGE COMPONENTS */
.top {
	grid-area: topp;
	display: flex;
	flex-direction: column;
	background-image: url("https://images.pexels.com/photos/4871119/pexels-photo-4871119.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-color: #a5a5a5;
  	height: 500px; 
  	background-position: center; 
  	background-repeat: no-repeat; 
  	background-size: cover;
	opacity: 0.8em;

	width: 100wh;
	height: 70vh;
}

/* .top {
	position: relative;

	grid-area: topp;
	display: flex;
	flex-direction: column;
  }
  
  .top:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 500px;
	opacity: 0.6;
	background-image: url("https://images.pexels.com/photos/4871119/pexels-photo-4871119.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  }
  
  .inner_top {
	position: relative;
  } */







.midle {
	grid-area: midle;
}
.bottom {
	grid-area: botom;
}


/* -=-=-=-= Mobile version of website -=-=-=- */
@media (max-width: 600px) {
	.container {
		width: 100%;
	}

	.main {
		/* 8 rows 5cols */
		grid-template: 1fr 1fr 1fr/ 100%;
		grid-template-areas:
			" topp "
			" midle "
			" botom ";
		width: 100%;
		flex-direction: column;
		/* border: 1px solid red; */
	}
	.log {
		grid-area: log;
	}
	/* .sign {
      grid-area: sign;
      text-align: right;
    } */
	.logo {
		grid-area: logo;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border: 1px solid red;
		text-align: center;
		margin: 0 auto;
	}
	.title {
		grid-area: title;
		text-align: center;
		margin: 1em 0 1em 0;
	}
	.arttitle {
		grid-area: arttitle;
		text-align: center;
		padding-top: 3em;
	}
	.article {
		grid-area: article;
	}
	.read {
		grid-area: read;
		cursor: pointer;
		width: 30%;
	}
	.useDescription {
		padding: 1em 0 1em 0;
		grid-area: des;
		text-align: center;
	}
	.video {
		grid-area: video;
		width: 100%;
		height: 100%;
		align-items: center;
	}
	.top {
		grid-area: topp;
		flex-direction: column;
		display: grid;
		grid-template:
			30px 100px 80px 100px
			/
			25% 50% 25%;
		grid-template-areas:
			". . log"
			". logo ."
			". . ."
			" title title title";
	}

	.midle {
		grid-area: midle;
	}
	.bottom {
		grid-area: botom;
	}
}
