@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");

/* PROFILE BLOCK */

.userImg img {
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  width: 19em;
  height: 19em;
  margin-left: 0%;
}

.stars {
  position: absolute;
  display: flex;

  /* width: 100%;
  height: 70%; */
  left: 0.8em;
  top: 6.5em;
  color: #f7d310;
  font-size: 3em;
}

.camera {
  position: absolute;
  display: flex;
  font-size: 3em;
  left: 5.5em;
}

/* flexbox */

.flexboxContainer {
  margin-top: 5em;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flexItems {
  margin: 10px;
  border: 3px solid black;
  background-color: aqua;
}

.flexItem1 {
  position: relative;
  min-height: 400px;
  width: 30%;
}

.flexItem2 {
  min-height: 500px;
  min-width: 60%;
}

.flexItem3 {
  min-height: 100%;
  min-width: 90%;
}

/* Form */

.form {
  height: auto;
  width: auto;
  margin: auto;
  background-color: var(--card);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  border-radius: 30px;
  box-shadow: 1px 75px 100px darkgray;
}

.textField {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: baseline;
  width: 30em;
  height: 2em;
  font-size: 1.2em;
  border-radius: 7px;
  color: var(--text);
}

.label {
  margin: 1em;
  font-size: 1.5em;
  color: var(--text);
}
