.container {
	/* border: 2px red solid; */
	width: 20%;
	margin: 2em;
	color: var(--text);
}

.input {
	width: 100%;
	height: 2.5em;
}



/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap"); */

/* flexbox */

/* .flexboxContainer {
  margin-top: 5em;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flexItems {
  margin: 10px;
}

.flexItem1 {
  position: relative;
  min-height: 400px;
  min-width: 20%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.flexItem2 {
  height: 60%;
  min-width: 50%;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  background-color: white;
  opacity: 0.7;
  border-radius: 4px;
}

.flexItem4 {
  height: 60%;
  min-width: 50%;
  position: relative;
  width: 900px;

  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  background-color: white;
  opacity: 0.7;
  border-radius: 4px;
}

.flexItem3 {
  min-height: 100%;
  min-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */

/* PROFILE IMAGE BLOCK */

/* .userImg img {
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  width: 19em;
  height: 19em;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.stars {
  position: relative;
  display: flex;
  justify-content: center; */

  /* width: 100%;
  height: 70%; */

  /* color: #f7d310;
  font-size: 3em;
}

.camera {
  position: absolute;

  font-size: 3rem;

  left: 6em;
} */

/* PROFILE CARD */

/* .profileTitle {
  margin-top: 1em;
  margin-bottom: 0.3em;
  margin-left: 1em;

  font-size: 1.8em;
}

.infoLine {
  text-decoration: underline black;
  margin-top: 1em;
  margin-bottom: 0.3em;
  margin-left: 0.5em;

  font-size: 1.8em;
}

.block1,
.block2,
.block3,
.block4 {
  display: flex;
}

.editBtn {
  position: absolute;
  background-color: var(--button);
  height: 2em;
  width: 6em;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1.5em;
  transform: translate(17.5em, 1em);
}

.editBtn:hover {
  background-color: blueviolet;
  box-shadow: 1px 5px 20px green;
} */

/* BIO BOX */

/* .btnSection {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.giveBtn,
.searchBtn {
  background-color: var(--button);
  height: 2em;
  width: 8em;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1.5em;
}

.title {
  font-size: 3em;
  margin: 1em;
} */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap"); */

/* flexbox */

/* .flexboxContainer {
  margin-top: 5em;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flexItems {
  margin: 10px; */
  /* border: 3px solid black; */
/* }

.flexItem1 {
  position: relative;
  min-height: 400px;
  width: 30%;
}

.flexItem2 {
  display: flex;

  min-height: 500px;
  min-width: 60%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  background-color: white;
  border-radius: 3px;
}

.flexItem3 {
  min-height: 100%;
  min-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */

/* PROFILE IMAGE BLOCK */

/* .userImg img {
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  width: 19em;
  height: 19em;
  margin-left: 0%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.stars {
  position: absolute;
  display: flex; */

  
  /* left: 0.8em;
  top: 6.5em;
  color: #f7d310;
  font-size: 3em;
} */

/* .camera {
  position: absolute;
  display: flex;
  font-size: 3em;
  left: 5.5em;
} */

/* PROFILE CARD */

/* .profileTitle {
  
  display: block;
  font-size: 2em;
}

.input {
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;

  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black;
} */

/* .input:focus {
  border-bottom: 5px solid #80f7ff;
} */

/* .box1 { */
  /* display: flex; */
/* } */
